<header>
  <p class="header_body">Today's News</p>
</header>

<div class="title">
  <h1 class="title_body"> <%= @title %> </h1>
</div>

<div class="container">
  <div class="image_parent">
    <img style="width:<%= @image_width %>px; height:<%= @image_height %>px", 
         class="image", 
         src= <%= @image_url %> >
  </div>
  <div class="description">
    <p class="description_body"> <%= @description %> </p>
    <p class="date_published"> <%= @date_published %> </p>
  </div>
</div>

<footer>
  <p class="provider_name">ソース：<%= @provider_name %></p>
</footer>